* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: dimgrey;
}

/* flexes */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}
.flex-basis{
    flex-basis: 50%;
}

/* helpers */

.btn{
    border-radius: 5px;
    padding: 5px;
    border: 0.5px solid rgba(184, 184, 184, 0.795);
}

/* header */

.header{
    position: f;
}

/* main */

.main-content{
    height: 50vh;
}

.weather{
    background-color: rgb(216, 214, 214);
}

.location-list{
    background-color: rgb(35, 79, 90);
}