:root {
    --clr0: #404258;
    --clr1: #474E68;
    --clr2: #50577A;
    --clr3: #6B728E;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--clr0);
    overflow-x: hidden;
    color: var(--clr3);
}

/* flexes */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}
.flex-basis{
    flex-basis: 50%;
}

.align-center {
    align-items: center;
}

/* layout */
.main-layout {
    max-width: 1400px;
    margin: auto;
    padding: 10px;
}

/* elements */

input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 7px;
    border: none;
    width: 200px;
    height: 30px;
}

/* helpers */

.btn{
    border-radius: 5px;
    padding: 5px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: var(--clr3);
    font-weight: 700;
}

.btn:hover{
    background-color: var(--clr2);
    box-shadow: 0px 2px var(--clr1);
    color: white;
}

.radius{
    border-radius: 10px;
}

/* header */

.logo img {
    display: flex;
    align-items: center;
    width: 400px;
}

/* search */

.search {
    display: flex;
    align-self: center;
    gap:10px;
    align-self: flex-start;
    gap: 70px;
}

.search .search-location {
    display: flex;
    align-items: center;
    gap:20px;
}

.search .show-location {
    display: flex;
    align-items: center;
    gap:20px;
}

.search .selected-location {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.4rem;
    color: wheat;
}
/* main */

.main-content{
    height: 60vh;
    gap: 20px;
}

.aside{
    gap: 20px;
}

.weather{
    background-color: var(--clr2);
}

.location-list{
    background-color: var(--clr2);
    padding: 10px;
    overflow-y: scroll;
}

.place{
    position: relative;
    background-color: var(--clr0);
    padding-inline: 15px;
    padding-block: 1px;
    margin-block: 5px;
    cursor: pointer;
}

.btn-close{
    position: absolute;
    right: 0;
} 

/* modal */

.modal{
    background-color: var(--clr3);
    padding: 10px;
    position: absolute;
    /* transform: translateX(-200%); */
    left:150%;
    transition: 0.5s;
    width: 17rem;
    bottom: 50%;
    text-align: center;
    color: var(--clr0);
}

.open-modal{
    /* transform: translateX(200%); */
    position: absolute;
    left: 50%;
    bottom:50%;
    transform: translate(-50%, -50%);
}

.add-location{
    margin: 10px;
}

/* mobile */

@media (max-width: 800px) {
    main {
        flex-direction: column;
    }

    .map {
        order:0;
    }

    .aside {
        order:1
    }

    .search {
        flex-direction: column;
        gap:5px;
    }

    .search .search-location {
        margin-block-start: 20px;;
    }
}