* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: dimgrey;
    overflow-x: hidden;
}

/* flexes */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}
.flex-basis{
    flex-basis: 50%;
}

/* helpers */

.btn{
    border-radius: 5px;
    padding: 5px;
    border: 0.5px solid rgba(184, 184, 184, 0.795);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(97, 95, 95);
    box-shadow: 0px 2px rgba(177, 176, 176, 0.589);
    color: white;
}

.radius{
    border-radius: 10px;
}

/* header */

.header{
    max-width: 200px;
}

h1{
    position: relative;
}

/* search */

/* .search-location{
    position: relative;
    float: right;
} */

.show-location{
    gap: 20px;
    align-items: center;
}

/* main */

.main-content{
    height: 60vh;
    gap: 20px;
}

.aside{
    gap: 20px;
}

.weather{
    background-color: rgb(216, 214, 214);
    padding: 10px;
    text-align: center;
}

.location-list{
    background-color: rgb(35, 79, 90);
    padding: 10px;
    overflow-y: scroll;
}

.place{
    position: relative;
    background-color: rgb(33, 77, 77);
    padding-inline: 15px;
    padding-block: 1px;
    margin-block: 5px;
    cursor: pointer;
}

.btn-close{
    position: absolute;
    right: 0;
} 

/* modal */

.modal{
    background-color: darkcyan;
    padding: 10px;
    position: absolute;
    transform: translateX(-130%);
    transition: 0.9s;
    width: 17rem;
    bottom: 50%;
    text-align: center;
}

.open-modal{
    transform: translateX(200%);
}

.add-location{
    margin: 10px;
}